@font-face {
    font-family: eurof35;
    src: url("../resources/fonts/eurof35.ttf");
}

@font-face {
    font-family: ralewayThinBody;
    src: url("../resources/fonts/raleway_thin_body.ttf");
}

@font-face {
    font-family: greyscaleBasic;
    src: url("../resources/fonts/greyscale_basic_regular.ttf");
}
body {
    margin: 0;
    background: linear-gradient(to right, #1c1925 1%,#1c1925 1%,#1f1025 44%,#1f1025 53%,#1c1925 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

nav {
    font-family: greyscaleBasic;
    background-color: #1C1925;
    margin-top: -4vh;
}

ul {
    list-style-type: none;
    margin-left: 45%;
    padding: 0;
    overflow: hidden;
    background-color: #1C1925;
    margin-top: 31px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 1px solid #1C1925;
    transition: 200ms ease-in-out;
}

.nounderline{text-decoration: none}

li a:hover {
    border-bottom: 1px solid #4CA5A9;
    color: #4CA5A9;
    text-decoration: none;
    transition: 300ms ease-in-out;
}

.topBar {
    position: fixed;
    width: 100%;
    height: 4.5vh;
    background-color: #1C1925;
    color: #ffffff;
    z-index: 100;
    box-shadow: 0px 2px 24px 1px rgba(0,0,0,0.75);
}

.topTitle {
    font-family: eurof35;
    margin: 0;
    width: 50px;
}
#header {
    font-size: 3em;
    text-align: center;
    background: url("../resources/images/galaxy-background.jpeg");
    height: 100vh;
    margin-top: 0;
    color: #ffffff;
}

.headerTitle {
    position: relative;
    top: 45vh;
    font-family: eurof35;
}

.gameContainer {
  position: relative;
  left: 100px;
    margin-top: 15%;
}

.headerTitle2 {
  height: 100px;
  color: #fff;
}

.loginContainer {
    color: #fff;
    margin-top: 15%;
}

.loginButton {
    background-color: #46727F;
    border-color: #46727F;
}

.loginButton:hover {
    background-color: #4CA5A9;
    border-color: #4CA5A9;
}

#gameWrapper {
    position: relative;
    color: #fff;
    margin-left: 40%;
}

.aboutContainer {
    position: relative;
    margin-top: 25%;
}
